<div class="container">
    <h1 class="text-center">By Sof - products</h1>
    
    {{#each products}}
        <div class="mb-3 w-50">
            <div class="card">
            <h5 class="card-header text-center"> {{this.title}} </h5>
            <div class="card-body"> 
                <em class="card-title"> {{this.description}} </em>
                <p class="card-text text-center"> <b> {{this.price}} </b>  </p>
                <small>id: {{this._id}} </small>
                </div>
            </div>
        </div>
    {{/each}}

    {{!-- totalDocs:
    {{pagination.totalDocs}}
    limit:
    {{pagination.limit}}
    totalPages:
    {{pagination.totalPages}}
    page:
    {{pagination.page}}
    pagingCounter:
    {{pagination.pagingCounter}}
    hasPrevPage:
    {{pagination.hasPrevPage}}
    hasNextPage:
    {{pagination.hasNextPage}}
    prevPage:
    {{pagination.prevPage}}
    nextPage:
    {{pagination.nextPage}} --}}

    {{#if pagination.hasPrevPage}}
        <a style='font-size: 20;' href='/?page={{pagination.prevPage}}'>⬅{{pagination.prevPage}}</a>
    {{/if}}
        <a style='font-size: 20;' href='#'>{{pagination.page}}</a>
    {{#if pagination.hasNextPage}}
        <a style='font-size: 20;' href='/?page={{pagination.nextPage}}'>{{pagination.nextPage}}➡</a>
    {{/if}}
    <br /><br />
    {{#each links}}
        <a href='{{this.href}}'>{{this.label}}</a>
    {{/each}}

</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/products.js"></script>